.sky {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(111, 191, 241),
    rgb(44, 97, 255)
  );
  background-size: cover;
  overflow-y: auto;
}

.bio-text {
  margin-top: 20px;
  font-size: 24px;
  color: white;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.typing-container {
  position: absolute;
  top: 50%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.container {
  position: relative; 
  width: 100%;
  height: 100%;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}

.custom-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgba(red, green, blue, 0);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #ffffff;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.custom-button:hover {
  color: #ffffff;
  border-color: #ffffff;
  transform: scale(1.1);
}

.custom-button:active {
  transform: scale(0.98);
}

.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fa-cog {
  color: white;
}

@media screen and (max-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
  }

  .home-content .typing-container,
  .home-content .rotating-card-container {
    position: relative;
    transform: none; 
    margin: 10px 0;
    width: 100%;
    max-width: 500px; 
    left: auto; 
    top: auto; 
    transform: none; 
  }

  
  .home-content .rotating-card-container {
    width: 180px;
    height: 180px;
    transform: scale(0.7);
  }

 
  .home-content .typing-container {
    text-align: center; 
  }
}

footer {
  position: fixed;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-size: 7px;
  bottom: 0;
}